.max_guest {
    background: url("../images/icon_group.png") no-repeat left center;
}
.number_rooms {
    background: url("../images/icon_bed.png") no-repeat left center;
}
.number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat left center;
}